<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medieval Trader</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>

    <div class="container">
        <h1>⚔️ Medieval Trader ⚔️</h1>
        <p>Bienvenido al juego, selecciona una opción:</p>

        <div class="menu-buttons">
            <a href="/jugadores" class="btn-create">🧙‍♂️ Jugadores</a>
            <a href="/ciudades" class="btn-create">🏰 Ciudades</a>
            <a href="/rutas" class="btn-create">🛤️ Rutas</a>
            <a href="/productos" class="btn-create">📦 Productos</a>
        </div>
    </div>

</body>
</html>
