<div class="container">
    <h1>⚔️ Medieval Trader ⚔️</h1>
    <p>Bienvenido al juego, selecciona una opción:</p>
  
    <div class="menu-buttons">
      <button routerLink="/jugadores/lista" class="btn-create">🧙‍♂️ Jugadores</button>
      <button routerLink="/ciudades/lista" class="btn-create">🏰 Ciudades</button>
      <button routerLink="/rutas/lista" class="btn-create">🛤️ Rutas</button>
      <button routerLink="/productos/lista" class="btn-create">📦 Productos</button>
    </div>
  
    <!-- Botón de JUGAR -->
    <div style="margin-top: 40px;">
      <button routerLink="/juego/seleccionar" class="btn btn-primary" style="font-size: 24px; padding: 20px 40px;">
        🎮 Empezar Juego
      </button>
    </div>
  </div>
  